        <footer class='footer'>
            <div class='container-fluid'>
                <div class='row'>
                    <div class='col-sm-2 col-sm-offset-3'>
                        <small>
                        <strong><a href="/our-work/index.html">Our work</a></strong><br />
                        <a href="/services/index.html">Services</a>
                        </small>
                    </div>
                    <div class='col-sm-2'>
                        <small>
                        <strong><a href="/products/index.html">Products</a></strong><br />
                        <a href="http://dedupe.io/" target='_blank'>Dedupe</a><br />
                        <a href="https://www.councilmatic.org/" target='_blank'>Councilmatic</a><br />
                        <a href="/products/budget-breakdown">Budget Breakdown</a>
                        </small>
                    </div>
                    <div class='col-sm-2'>
                        <small>
                        <strong><a href="/about-us/index.html">About us</a></strong><br />
                        <a href="/blog/index.html">Blog</a><br />
                        <a href="/data-catalog/index.html">Data catalog</a><br />
                        <a href="/open-source/index.html">Open source</a><br />
                        </small>
                    </div>
                    <div class='col-sm-2'>
                        <small>
                        <strong><a href='/contact-us/'>Contact us</a></strong><br />
                        <i class='fa fa-envelope'></i> <a href='mailto:info@datamade.us'>info@datamade.us</a>
                        <br />
                        <i class='fa fa-twitter'></i>
                        <a href='https://twitter.com/DataMadeCo'>@DataMadeCo</a>
                        <br />
                        &copy; 2017 DataMade
                        </small>
                    </div>
                </div>
            </div>
        </footer>