                    <h2>
                    <a href='/products'>
                        Products
                    </a>
                    </h2>
                    <p>
                        Bring these amazing civic and data tools to your city or organization.
                        <a href='/products'>Browse our products &raquo;</a>
                    </p><br />
                    <div class='row'>
                        <div class='col-sm-4'>
                            <a href='https://dedupe.io' target='_blank'>
                                <img alt="Dedupe.io" class="img-thumbnail" src="/images/products/dedupe-io.jpg" />
                            </a>
                            <h4>
                            <a href='https://dedupe.io' target='_blank'>
                            Dedupe.io</a>
                            </h4>
                            <p>Dedupe.io is a powerful machine learning tool that learns the best way to match similar rows in your data.
                            </p>
                        </div>
                        <div class='col-sm-4'>
                            <a href='https://www.councilmatic.org/' target='_blank'>
                                <img alt="Councilmatic" class="img-thumbnail" src="/images/products/councilmatic-large.jpg" />
                            </a>
                            <h4>
                            <a href='https://www.councilmatic.org/' target='_blank'>
                            Councilmatic</a>
                            </h4>
                            <p>Your local city council, demystified. Search and browse your local legislation, representatives, and meetings.
                            </p>
                        </div>
                        <div class='col-sm-4'>
                            <a href='/products/budget-breakdown'>
                                <img alt="Budget Breakdown" class="img-thumbnail" src="/images/products/lookatcook-large.jpg" />
                            </a>
                            <h4>
                            <a href='/products/budget-breakdown'>
                            Budget Breakdown</a>
                            </h4>
                            <p>Empower your audience to browse and compare budgets in an interactive visualization.</p>
                        </div>
                    </div>
                    <hr />
