                    <h2>
                    <a href='/our-work'>
                        Tell your story through data
                    </a>
                    </h2>
                    <p>
                        Compelling, data-driven narratives and tools for exploration and data preparation.
                        <a href='/our-work'>Browse our work &raquo;</a>
                    </p>
                    <br />
                    <div class='row'>
                        <div class='col-sm-4'>
                            <a href='/our-work/campfin/openness-project'>
                                <img alt="The Openness Project" class="img-thumbnail" src="/images/our-work/openness-project.jpg" />
                            </a>
                            <h4>
                            <a href='/our-work/campfin/openness-project'>The Openness Project</a>
                            </h4>
                            <p>
                            Search and browse all <strong>political contributions, expenditures, and candidates</strong> in statewide and local New Mexico races.</p>
                        </div>
                        <div class='col-sm-4'>
                            <a href='/our-work/chicagos-million-dollar-blocks'>
                                <img alt="Chicago's Million Dollar Blocks" class="img-thumbnail" src="/images/our-work/chicagos-million-dollar-blocks.png" />
                            </a>
                            <h4>
                            <a href='/our-work/chicagos-million-dollar-blocks'>Chicago's Million Dollar Blocks</a>
                            </h4>
                            <p>
                                <p>An interactive map showing <strong>spending on incarceration</strong> for every block in the City of Chicago.</p>
                            </p>
                        </div>
                        <div class='col-sm-4'>
                            <a href='/our-work/large-lots'>
                                <img alt="LargeLots.org" class="img-thumbnail" src="/images/our-work/large-lots.png" />
                            </a>
                            <h4>
                            <a href='/our-work/large-lots'>LargeLots.org</a>
                            </h4>
                            <p>We worked with the City of Chicago and neighborhood groups to improve and scale up a program for <strong>selling land to residents</strong>.</p>
                        </div>
                    </div>
                    <hr />
