{% macro render_blog_post(post, from_index=false) %}
<div class='row'>
    <div class='col-sm-8'>
    {% if from_index %}
      <h4><a href="{{ post|url }}">{{ post.title }}</a></h4>
    {% else %}
      <h4>{{ post.title }}</h4>
    {% endif %}
        <p class="meta">
          written by
          {% if post.twitter_handle %}
            <a class="muted" href="https://twitter.com/{{ post.twitter_handle
              }}">{{ post.author or post.twitter_handle }}</a>
          {% else %}
            {{ post.author }}
          {% endif %}
          on {{ post.pub_date }}
        </p>
        <p>
           {{ post.body }}
        </p>
        <br/>
    </div>
</div>
{% endmacro %}
